body {
    margin: 0%;
    display: flex;
    background-color: rgba(223, 217, 217, 0.299);
    gap: 3vw;
}

img {
    width: 40vw;
    height: 100vh;
}

label,
input {
    display: block;
}

#main {
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
}

#controls {
    display: flex;
    gap: 60px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    padding: 0;
    font-size: 1.8rem;
    margin-bottom: 4vh;
}

form {
    margin-top: 10vh;
}

p {
    font-size: 1.4rem;
    font-weight: bold;
}