body {
    margin: 0%;
    display: flex;
    background-color: rgba(223, 217, 217, 0.299);
}

img {
    width: 40vw;
    height: 100vh;
}

label,
input {
    display: block;
}

#main {
    display: flex;
    flex-direction: column;
}

#controls {
    display: flex;
    gap: 60px;
}

fieldset {
    border: none;
}