body {
    margin: 0%;
    display: flex;
    background-color: rgba(235, 235, 235, 0.473);
}

img {
    width: 40vw;
    height: 100vh;
}

label,
input {
    display: block;
}

#main {
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
}

#controls {
    display: flex;
    gap: 60px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    padding: 0;
    font-size: 1.8rem;
    margin-bottom: 4vh;
}

form {
    margin-top: 10vh;
    box-shadow: 0px 6px 4px rgba(206, 195, 195, 0.856);
    background-color: white;
}

p {
    font-size: 1.4rem;
    font-weight: bold;
}

#account {
    margin-top: 10vh;
}